vk-api==11.9.8
requests==2.28.1
TOKEN = "vk1.a.F9dozThMpAdgrHjoeAQ3fgzUobz13Wk1KfZsyXV6sYm8W26WIntRnxmZtFrGrAVO1E-VK6neoy31H7_yCNQo3LpKkMXCu036dxTMIIM2ukx6QSXQ1TURr0YF9mhizR3TL8lTO8-xDmaozYkzFu-fV6Iy26Y8U8xQjAHQabpS8dSLPNzMXT2FSh1KUCDNBDSG3EU_pWJsmmoQcQzqcq3lGg"
GROUP_ID = "228386465"
flask